
*.sbx
*.xml
*.dbf
*.shx
*.csv
*.shp
*.tif
*.prj
*.qpj
*.zip
*.cpg
data/global/ne_110m_graticules_all/ne_110m_graticules_20.README.html
data/global/ne_110m_graticules_all/ne_110m_graticules_20.VERSION.txt
data/global/ne_110m_graticules_all/ne_110m_graticules_30.README.html
data/global/ne_110m_graticules_all/ne_110m_graticules_30.VERSION.txt
data/global/ne_110m_graticules_all/ne_110m_graticules_5.README.html
data/global/ne_110m_graticules_all/ne_110m_graticules_5.VERSION.txt
data/global/ne_110m_graticules_all/ne_110m_wgs84_bounding_box.README.html
data/global/ne_110m_graticules_all/ne_110m_wgs84_bounding_box.VERSION.txt
data/global/ne_110m_land/ne_110m_land.README.html
data/global/ne_110m_land/ne_110m_land.VERSION.txt
data/global/ne_110m_populated_places_simple/ne_110m_populated_places_simple.README.html
data/california/CA_Counties/CA_Counties_TIGER2016.sbn
data/california/madera-county-roads/metadata.html
data/global/ne_10m_roads/ne_10m_roads.README.html
data/global/ne_10m_roads/ne_10m_roads.VERSION.txt
data/global/ne_110m_graticules_all/ne_110m_graticules_1.README.html
data/global/ne_110m_graticules_all/ne_110m_graticules_1.VERSION.txt
data/global/ne_110m_graticules_all/ne_110m_graticules_10.README.html
data/global/ne_110m_graticules_all/ne_110m_graticules_10.VERSION.txt
data/global/ne_110m_graticules_all/ne_110m_graticules_15.README.html
data/global/ne_110m_graticules_all/ne_110m_graticules_15.VERSION.txt
data/global/ne_110m_populated_places_simple/ne_110m_populated_places_simple.VERSION.txt
data/global/readme.txt
data/outputs/lidar_chm_cropped.tiff
data/README
